.content,
.hair,.hair1,.hair2,
.left-eye,.right-eye,.eyeb,
.mouth,.mouthcover,
.pant,.pantline-l,.pantline-r,.dot-l,.dot-r,
.pantlogo,.pantpakcover,.pantleg-l-body,.pantleg-l-body-cover,
.pantleg-r-body,.pantleg-r-body-cover,
.shoe-l,.shoe-r,
.hand-l,.hand-r,
.hand-l-body,.hand-r-body,
.hand-l-palm-body,.hand-r-palm-body,
.hand-l-palm-finger1,.hand-r-palm-finger1,
.hand-l-palm-finger2,.hand-r-palm-finger2,
.hand-l-palm-finger3,.hand-r-palm-finger3
{ position: absolute; }

button {
	width: 150px;
	height: 40px;
	margin: 10px;
	background: #fff;
	border-radius: 5px;
	font-weight: bold;
	font-size: 17px;
}

/*轮廓线条*/
.content,.hair,.hair1,.hair2,
.body,
.left-eye,.right-eye,
.mouth,
.pantline-l,.pantline-r,.pantleg-l-body,.pantleg-l-body-cover,.pantleg-r-body,.pantleg-r-body-cover,.panttop,
.hand-l-body,.hand-r-body,.hand-l-palm-body,.hand-r-palm-body
{ border: 5px solid black; }

/*肤色*/
.body,.hand-l-body,.hand-r-body,.mouthcover {
	background: #ffff66;
}

/*裤子颜色*/
.pant,.pantlogo,.pantpakcover,
.panttop,.pantline-l,.pantline-r,
.pantleg-l-body,.pantleg-r-body {
	background: #0066cc;
}

/*背景色*/
.pantleg-l-body-cover,.pantleg-r-body-cover,.content {
	background: #fff;
}

.hair,.hair1,.hair2 {
	width: 20px;
	height: 50px;
	margin-top: -40px;
	border-right: none;
	border-radius: 50px 0 0 0;
	transform-origin: 50% 500%;
}


.left-eye,.right-eye {
	height: 70px;
	width: 70px;
	background: #fff;
	border-radius: 50px;
}

.pantline-l,.pantline-r {
	z-index: 1;
	width: 13px;
	height: 90px;
}

.pantleg-l-body,.pantleg-r-body {
	overflow: hidden;
	border-bottom: none;
	width: 40px;
	height: 40px;

}

.pantleg-l-body-cover,.pantleg-r-body-cover {
	width: 15px;
	height: 40px;
	
}

.shoe-l,.shoe-r {
	width: 55px;
	height: 20px;
	background: #000;
}

.hand-l,.hand-r {
	width: 70px;
	height: 170px;
	transform-origin: 50% 20%;
}

.hand-l-palm-finger1,.hand-r-palm-finger1,
.hand-l-palm-finger2,.hand-r-palm-finger2,
.hand-l-palm-finger3,.hand-r-palm-finger3 {
	width: 17px;
	height: 30px;
	border-radius: 5px 5px 10px 10px;
	background: black;
}


/*动画调整*/

@keyframes hairmove {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(-3deg);}
	70% {transform: rotate(3deg);}
	100% {transform: rotate(0deg);}
}

@keyframes bodymove {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(-3deg);}
	70% {transform: rotate(3deg);}
	100% {transform: rotate(0deg);}

}

@keyframes eyebmove {
	0% {left: 0px; top: 0px;}
	50% {left: 24px; top: 8px; }
	100% {left: 0px; top: 0px; }

}

@keyframes shoeleft {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(25deg);}
	100% {transform: rotate(0deg);}
}
@keyframes handleft {
	0% {transform: rotate(45deg);}
	50% {transform: rotate(125deg);}
	100% {transform: rotate(45deg);}
}

@keyframes handright {
	0% {transform: rotate(-45deg);}
	50% {transform: rotate(-125deg);}
	100% {transform: rotate(-45deg);}
}


/*-------------------容器--------------------------*/

.play {
	position: absolute;
	margin-left: 550px;
	display: flex;
	flex-direction: column;
}
.content {
	margin: 20px;
	padding: 130px;
}

/*-------------------头发--------------------------*/
	.hair {
		margin-left: 100px;
	}
	.hair1 {
		margin-left: 115px;
	}
	.hair2 {
		margin-left: 85px;
	}
	
 /*-------------------身体--------------------------*/

	.body {
		position: relative;
		overflow: hidden;
		z-index: 99;
		margin:0 auto;
		height: 330px;
		width: 200px;
		border-radius: 100px 100px 75px 75px;
		transform-origin: 50% 100%;
	}

		.line {
			position: absolute;
			margin: 90px 0 ;
			height: 15px;
			width: 205px;
			background:black;
		}

 /*--------------------眼睛--------------------------*/

		.left-eye {
			margin: 60px 20px;
		}

		.right-eye {
			margin: 60px 100px;
		}

			.eyeb {
				height: 40px;
				width: 40px;
				margin: 5px;
				border-radius: 40px;
				background:black;
				
			}


 /*--------------------嘴--------------------------*/
		.mouth {
			height: 20px;
			width: 30px;
			background: #fff;
			border-radius: 30px;
			margin: 150px 80px;
		}


		.mouthcover {
			height: 13px;
			width: 40px;
			border-bottom: 5px solid black;
			margin: 149px 80px;
		}

 /*--------------------裤子--------------------------*/
		.pant {
			border-top: 5px solid black;
			margin: 255px 0 ;
			width: 200px;
			height: 150px;
		}

		.pantline-l {
			margin: 148px 10px;
			transform: rotate(-65deg);
		}

		.pantline-r {
			margin: 148px 170px;
			transform: rotate(65deg);
		}
			.dot-l,.dot-r {
				z-index: 2;
				padding: 4px;
				margin: 80px 2px;
				background: black;
				border-radius: 5px;
			}

			.pantlogo {
			
				margin-top: 205px;
				margin-left: 50px ;
				width: 100px;
				height: 100px;
				
			}
				.pantpak {
					border-radius: 20px;
					margin: 15px 25px;
					border: 5px dashed black;
					padding: 20px;
				}
				.pantpakcover {
					margin: 10px 25px;
					border-bottom: 5px dashed black;
					width: 50px;
					height: 20px;
					
				}
		
			.panttop {
				
				margin-top: 200px;
				margin-left:  45px ;
				width: 100px;
				height: 100px;
			}

	.pantleg-l-body {
			margin: -15px 50px;
			border-left: none;
		}

	.pantleg-r-body {
			margin: -15px 120px;						
			border-right: none; 
		}

		.pantleg-l-body-cover {
			margin-left: -13px;
			transform: rotate(-18deg);
		}

		.pantleg-r-body-cover {
			margin-left: 28px;
			transform: rotate(18deg);
		}

/*--------------------鞋--------------------------*/		
	.shoe-l {
		border-radius: 13px 2px 5px 5px;
		margin: 30px 40px ;
		transform-origin: 100% 0%;
	}	

	.shoe-r {
		border-radius: 2px 13px 5px 5px;
		margin: 30px 120px ;
	}	

 /*--------------------手--------------------------*/

 	.hand-l {
		margin:-160px -20px; 
		transform: rotate(45deg);
 	}

 	.hand-r {
		margin: -160px 160px;
		transform: rotate(-45deg);
 	}


 	.hand-l-body,.hand-r-body {
		width: 15px;
		height: 100px;
		margin: 20px;
		border-radius: 20px;
 	}

		.hand-l-palm-body,.hand-r-palm-body {
			width: 25px;
			height: 25px;
			background: black;
			border-radius: 5px 5px 20px 20px;
			margin: 120px 0 0 15px;
		}
		

		.hand-l-palm-finger1,.hand-r-palm-finger1 {
			margin: 134px 0px 0px 10px;
			transform: rotate(35deg);
		}


		.hand-l-palm-finger2,.hand-r-palm-finger2 {
			margin: 140px 0px 0px 25px;
		}
	
		.hand-l-palm-finger3,.hand-r-palm-finger3 {
			margin: 135px 0px 0px 40px;
			transform: rotate(-30deg);
		
		}

